<dom-module id="rei-animation-ui">
  <template>
    <style type="text/less" include="rei-layout rei-styling">
      :host {
        @apply(--layout-vertical);
      }

      #title {
        @apply(--title-large);
      }

      #controls {
        @apply(--layout-horizontal);
        @apply(--flex-justify-content-space-between);

        font-size: 48px;
        font-family: Icon;
      }

      .play:before {
        content: '\e802';
      }

      .pause:before {
        content: '\e803';
      }

      #stop:before {
        content: '\e804';
      }

      #reverse:before {
        content: '\e805';
      }
    </style>
    <div id="controls">
      <div id="state" class="play button" on-click="play"></div>
      <div id="stop" class="disabled button" on-click="stop"></div>
      <div id="reverse" class="disabled button"></div>
    </div>
    <div id="header">
      <div id="title">Animation</div>
      <div id="add" class="button add" on-click="showMenu"></div>
      <div id="menu" class="hide">
        <div on-click="addIntervalAnimation">Interval</div>
        <div>Synced</div>
        <div on-click="addKeyframeAnimation">Keyframe</div>
        <div>Sequenced</div>
      </div>
    </div>
    <div id="content">
      <content></content>
    </div>
  </template>
</dom-module>
