<dom-module id="rei-interval-animation-ui">
  <template>
    <style type="text/less" include="rei-layout rei-styling">
      :host {
        @apply(--layout-vertical);
      }
    </style>
    <div id="header">
      <div id="title">Interval Animation</div>
      <div id="remove" class="button" on-click="removeSelf"></div>
    </div>
    <div class="value-area">
      <div>Start</div>
      <input type="number" value="{{start::input}}">
    </div>
    <div class="value-area">
      <div>End</div>
      <input type="number" value="{{end::input}}">
    </div>
    <rei-easing-animation-ui id="easing"></rei-easing-animation-ui>
    <rei-animation-timing-ui id="timing"></rei-animation-timing-ui>
  </template>
</dom-module>
